<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="paulocauca.apportho">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera2.full" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/apportho_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="paulocauca.apportho.LoginActivity"
            android:label="AppOrtho">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity android:name="paulocauca.apportho.SignupActivity" />
        <activity android:name="paulocauca.apportho.MainActivity" />
        <activity android:name="paulocauca.apportho.ResetPasswordActivity" />
        <activity android:name="paulocauca.apportho.ClinicaActivity" />
        <activity android:name="paulocauca.apportho.PacientesActivity" />
        <activity android:name="paulocauca.apportho.AddPacienteActivity" />
        <activity android:name=".ConsultasPacienteActivity"/>
        <activity android:name=".CameraApiActivity" />

    </application>

</manifest>
